<a href="{{url}}"><h2>{{title}}</h2></a>
<a href="{{url}}"><p>{{url}}</p></a>
<button name="edit" class="bookmark-edit-button">edit</button>
<button name="delete" class="bookmark-delete-button">delete</button>

<form class="bookmark-edit-form">
  <input class="bookmark-title" type="text" value={{title}}>
  <input class="bookmark-url" type="text" value={{url}}>
  <input type="reset" value="cancel">
  <input type="submit" value="save">
</form>
